---
import BaseLayout from '../layouts/BaseLayout.astro';
import InnerHeader from '../components/layout/InnerHeader.astro';
import ContactForm from '../components/contact/ContactForm.astro';

const rand1: number = Math.floor(Math.random() * 9) + 1;
const rand2: number = Math.floor(Math.random() * 9) + 1;
const answer: number = rand1 + rand2;
---

<BaseLayout
  title="Contact"
  description="Get in touch with for web development projects or Arnis inquiries."
>
  <InnerHeader
    title="Get in Touch"
    description="Web development, Arnis training, or just to say hello"
  />

  <!-- Contact form -->
  <section aria-label="Contact form" class="section-container">
    <ContactForm
      captchaQuestion=`What is ${rand1} + ${rand2}?`
      captchaAnswer=`${answer}`
    />
  </section>
</BaseLayout>
