@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));
:root {
	--font-body: 'Inter', sans-serif;
}

body {
	font-family: var(--font-body);
	@apply bg-gray-200 text-gray-700;
	.dark {
		@apply bg-black text-gray-400;
	}
}
