---
import BtnArrow from '../common/BtnArrow.astro';
import Button from '../common/Button.astro';
import ctaData from '../../data/dev/cta.json';

const { heading, buttonLabel, buttonHref } = ctaData;
const lines = heading.split('\n');
---

<section
  aria-labelledby="cta-heading"
  class="reveal section-container reveal bg-ink-100 block md:flex md:flex-row md:items-end md:justify-between text-ink-900"
>
  <h2 id="cta-heading" class="reveal text-heading mb-8 md:mb-0">
    {
      lines.map((line, i) => (
        <>
          {i > 0 && <br />}
          {line}
        </>
      ))
    }
  </h2>
  <Button variant="primary" href={buttonHref} class="reveal inline-flex gap-2">
    {buttonLabel}
    <BtnArrow />
  </Button>
</section>
